.slide-enter {
  opacity: 0.1;
  transform: translateX(-100%);
}

.slide-enter.slide-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: 400ms ease-in-out;
}

.slide-exit {
  opacity: 1;
  height: 44.4px;
}

.slide-exit.slide-exit-active {
  box-sizing: border-box;
  opacity: 0.01;
  height: 0 !important;
  padding: 0 !important;
  margin: 0 !important;
  transition: all 400ms ease-in-out;
}
.list-container {
  overflow: hidden;
}
